@import "../bootstrap-5.3.1/scss/bootstrap.scss";

html, body, head {
    padding: 0;
    margin: 0;
    border: 0;
}
img {
    @include media-breakpoint-up(xs) {
        width: 11px;
        height: 11px;
    }
    @include media-breakpoint-up(sm) {
        width: 15px;
        height: 15px;
    }
    @include media-breakpoint-up(md) {
        width: 21px;
        height: 21px;
    }
    @include media-breakpoint-up(lg) {
        width: 30px;
        height: 30px;
    }
}
.imgText {
    font-weight: 100;
    @include media-breakpoint-up(xs) {
        font-size: 8px; 
    }
    @include media-breakpoint-up(sm) {
        font-size: 12px;
    }
    @include media-breakpoint-up(md) {
        font-size: 18px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 25px;
    }
}
.underText {
    @include media-breakpoint-up(xs) {
        font-size: 11px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 15px;
    }
    @include media-breakpoint-up(md) {
        font-size: 21px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 30px;
    }
    font-weight: 500;
}
nav {
    height: 8vh;
}
.main {
    height: 92vh;
    width: 100%;
    background-image: url(../images/maxresdefault.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(xs) {
        .thty {
            font-size: 11px;
        }
        .hund {
            font-size: 34px;
        }
        .fty {
            font-size: 14px;
        }
    }
    @include media-breakpoint-up(sm) {
        .thty {
            font-size: 15px;
        }
        .hund {
            font-size: 49px;
        }
        .fty {
            font-size: 20px;
        }
    }
    @include media-breakpoint-up(md) {
        .thty {
            font-size: 21px;
        }
        .hund {
            font-size: 70px;
        }
        .fty {
            font-size: 28px;
        }
    }
    @include media-breakpoint-up(lg) {
        .thty {
            font-size: 30px;
        }
        .hund {
            font-size: 100px;
        }
        .fty {
            font-size: 40px;
        }
    }
    span {
        color: white;
    }
    .purpleText {
        color: #8b37ff;
    }
    button {
        @include media-breakpoint-up(xs) {
            width: 196px;
            height: 21px;
            font-size: 9px;
            margin: 20px;
        }
        @include media-breakpoint-up(sm) {
            width: 137px;
            height: 30px;
            font-size: 13px;
            margin: 29px;
        }
        @include media-breakpoint-up(md) {
            width: 196px;
            height: 42px;
            font-size: 18px;
            margin: 42px;
        }
        @include media-breakpoint-up(lg) {
            width: 280px;
            height: 60px;
            font-size: 26px;
            margin: 60px;
        }
        border-radius: 30px;
        border: none;
        background-color: #8b37ff;
        color: white;
    }
}
.sections {
    width: 80%;
    height: 20%;
    display: flex;
    .content {
        width: 33%;
    }
    .duration {
        width: 33%;
        border-left: rgb(150, 150, 150) solid 2px;
        border-right: rgb(150, 150, 150) solid 2px;
    }
    .access {
        width: 33%;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 30%;
        }
    }
}
.navv {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.nav-item {
    a {
        @include media-breakpoint-up(xs) {
            font-size: 9;
        }
        @include media-breakpoint-up(sm) {
            font-size: 13px;
        }
        @include media-breakpoint-up(md) {
            font-size: 18px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 26px;
        }
        font-size: 26px;
        font-weight: 500;
    }
}